@import "V-2.css";

body {
	background: #FBFAF5 url('background.png') repeat top left
}
h1#title {
	clear: both;
}
h1#title a {
	color: #000000;
}
#dateline {
/* 	float: right; */
	text-align: right;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 15px;
}
#dateline a {
	color: #999;
}
#dateline img {
	margin: 0;
}

.newsItemDate, .newsItemSubject {
	display: none;
}
.newsItemSource {
	text-transform: uppercase;
}
.newsItemCreator {
}

/*Block ads and junk*/
iframe[src*="feedads"],
iframe[src*="doubleclick"],
iframe[src*="plusone.google"] {
	display: none !important;
}

a[href*=".ads."],
a[href*="feedads"],
/* a[href*="feedburner"], Commented out because it removed a hide a link in a post unnecessarily. */
a[href*="doubleclick"],
a[href*="//ads."],
a[href*="api.tweetmeme"],
a[href*="delicious.com/post?"],
a[href*="digg.com/submit?"],
a[href*="google.com/bookmarks/mark?"],
a[href*="posterous.com/share?"],
a[href*="tumblr.com/share?"],
a[href*="linkedin.com/shareArticle?"],
a[href*="facebook.com/share.php?"],
a[href*="http://twitter.com/home?"],
a[href*="addtoany.com/share_save"] {
	display: none !important;
}

img[src*=".ads."],
img[src*="//ads."],
img[src*="doubleclick"],
img[src*="feedads"],
img[src*="feedburner"],
img[src*="share-buttons"] {
	display: none !important;
}
